/* Full-page styling */
.question-toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw; 
  transition: background 0.5s ease-in-out;
  font-family: 'Arial', sans-serif;
}

/* Question title */
.question-title {
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin-bottom: 50px;
  text-align: center;
}

/* Container for options */
.options-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  max-width: 900px;
}

/* Each row of toggle buttons */
.option-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  height: auto;
  border: 2px solid white;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
}

/* Toggle button design */
.toggle-button {
  flex: 1;
  transition: all 0.3s ease-in-out;
  background: transparent;
  color: white;
  width: 330px;
  height: 80px;
  justify-content: space-between;
  border-radius: 100px;
  padding: 21px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  border: none;
  outline: none;
  white-space: normal;
}

/* Selected button effect */
.toggle-button.selected {
  color: #9f938b;
  z-index: 1;
}

/* Locked selected button effect */
.toggle-button.locked {
  background: #a5e7e2;
  color: #4cad94;

}

/* Circle highlighting the selected choice */
.highlight-circle {
  position: absolute;
  width: 50%;
  height: 100%;
  background: #f8caa3;
  border-radius: 100px;
}

/* Locked circle highlighting the correct choice */
.highlight-circle.locked {
  background: #a5e7e2;
}

/* Final correct state */
.result-message {
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}

/* Smaller circle for three options */
.option-row.three-options .highlight-circle {
  width: 33.3%;
}

/* Responsive design for mobile and tablet */
@media (max-width: 768px) {
  .question-title {
    font-size: 32px;
  }
  .toggle-button {
    font-size: 23px;
    padding: 15px; 
    height: auto;
  }
  .option-row {
    height: auto;
  }
}

/* Specific styles for 320px to 480px resolution */
@media (max-width: 480px) and (min-width: 320px) {
  .question-title {
    font-size: 20px;
  }
  .toggle-button {
    font-size: 16px;
    padding: 8px;
    height: auto;
  }
  .toggle-button {
    width: 100%;
  }
  .option-row {
    flex-direction: column;
    height: auto;
    border-radius: 24px;
  }
  .highlight-circle {
    width: 100%;
    height: 50%;
    border-radius: 0;
  }
  .option-row.three-options .highlight-circle {
    height: 33.3%;
    width: 100%;
  }
}
